.wrapperChat {
  max-width: 650px;
  min-height: 440px;
  background-color: var(--bg-surf);
  display: grid;
  grid-template-columns: 30% 1fr;
  border-radius: var(--md);

  @media (prefers-color-scheme: light) {
    background-color: var(--l-bg-surf);
  }
}
