.wrapperMsgs {
  padding: var(--md);
  display: grid;
  grid-template-rows: 1fr auto;

  .form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--md);
    padding: var(--sm);
    border: 1px solid var(--border);
    border-radius: var(--md);
  }
}

.emptyChat {
  display: grid;
  place-content: center;
}

.wrapperMsgs,
.emptyChat {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    width: 1px;
    height: 90%;
    background-color: var(--soft-grey);
  }
}
