.wrapperMsgs {
  position: relative;
  padding: var(--md);
  display: grid;
  gap: var(--sm);
  grid-template-rows: 1fr auto;

  &::after {
    content: "";
    position: absolute;
    top: 2.5%;
    left: 0;
    width: 1px;
    height: 95%;
    background-color: var(--border);
  }

  .msgs {
    display: grid;
    justify-items: start;
    align-content: start;
    gap: var(--sm);

    .msg {
      padding: var(--sm) var(--md);
      border-radius: var(--md);
      border: 1px solid var(--border);
    }

    .msg__receiver {
      justify-self: end;
      border: 1px solid var(--pri);

      @media (prefers-color-scheme: light) {
        border: 1px solid var(--l-pri);
      }
    }
  }

  .form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--md);
    padding: var(--sm);
    border: 1px solid var(--border);
    border-radius: var(--md);
  }
}

.emptyChat {
  display: grid;
  place-content: center;
}
