:root {
  /* Dark mode */
  --bg-main: #121212;
  --bg-surf: #1e1e1e;
  --pri: hsl(262, 38%, 50%);
  --sec: #495e57;
  --t-main: #e0e0e0;
  --t-sec: #bdbdbd;
  --hl: #ffbc42;
  --border: #2c2c2c;
  --accent: #ef476f;
  --hover: #5f9eff;

  /* Light mode */
  --l-bg-main: #f5f5f5;
  --l-bg-surf: #e0e0e0;
  --l-pri: #8abfa3;
  --l-sec: #776399;
  --l-t-main: #333;
  --l-t-sec: #636363;
  --l-hl: #ffbc42;
  --l-border: #cccccc;
  --l-accent: #ef476f;
  --l-hover: #3c91e6;

  /* Common */
  --blue: #0066cc;
  --red: #cd231d;
  --green: #8c9900;
  --grey: gray;
  --soft-grey: #9d9d9d;
}
