.home {
  display: grid;
  place-content: center;
  padding: var(--lg);
  height: 100%;

  .intro {
    max-width: 500px;
    display: grid;
    gap: var(--md);

    a {
      justify-self: start;
      background-color: var(--bg-surf);
      padding: var(--md);

      @media (prefers-color-scheme: light) {
        background-color: var(--l-bg-surf);
      }
    }
  }
}
