.followingTo {
  display: grid;
  align-content: start;
  gap: var(--sm);

  .followed {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sm);
    align-items: center;
    padding: var(--sm);

    &:hover {
      background-color: var(--pri);
      border-radius: var(--md);
      @media (prefers-color-scheme: light) {
        background-color: var(--l-pri);
      }
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .img,
    svg {
      width: 32px;
      height: 32px;
    }
  }
  .followed__selected {
    background-color: var(--pri);
    border-radius: var(--md);

    @media (prefers-color-scheme: light) {
      background-color: var(--l-pri);
    }
  }
}
