.followingTo {
  .followed {
    display: flex;
    gap: var(--md);
    align-items: center;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .img,
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
